@inherits LayoutComponentBase
@* <div class="sidebar"> *@
@*     <NavMenu /> *@
@* </div> *@
<div class="main">
    <header>
        <h1>Robot UI</h1>
    </header>
    <div class="content px-4">
        @Body
    </div>
</div>